vti_encoding:SR|utf8-nl
vti_author:SR|CCALDERON
vti_cachedlinkinfo:VX|
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|03 Dec 2003 09:28:47 -0600
vti_filesize:IX|541
vti_modifiedby:SR|CCALDERON
vti_backlinkinfo:VX|samples/tabs.asp samples/pagedatabind.asp samples/image.asp samples/dropdown.asp samples/login.asp samples/datalist.asp samples/radiobutton.asp samples/datarepeater.asp samples/datagrid.asp samples/nicesamples.asp samples/performancetest.asp samples/textbox.asp samples/autofocus.asp samples/label.asp samples/events.asp samples/hyperlink.asp samples/usercontrols.asp samples/drilldown.asp
vti_cacheddtm:TX|12 Dec 2003 10:44:17 -0600
vti_cachedhasbots:BR|false
vti_nexttolasttimemodified:TR|12 Dec 2003 10:44:17 -0600
vti_extenderversion:SR|3.0.2.926
vti_timelastmodified:TR|12 Dec 2003 10:44:17 -0600
